h1,h2,h3 {
    text-transform: capitalize;
    
    
}
.yellow {
    color: rgb(49, 49, 49);
}
body {
    background-color : pink;
    font-family: 'Roboto Condensed', sans-serif;
}


p {
    text-transform: inherit;
    
}
.text {
    text-align: center;
}
body {
    color: white;
}
h3 {
    color:chocolate
}
ul {
    list-style-position: inside;
    color: green;
}
.red {
    color: red;
}
.purple {
    color: purple;
}
.black {
    color: #000000;
}
.green{
    color: green;
}
.blue {
    color: #e5890a;
}
.orange {
    color: orangered;
}
.brown {
    color: brown;
}

.white {
    color: white;
}
.beidge {
    color: #e6ba95;
}
.lightbrown {
    color: #cc9544;
}
.silver {
    color: #dfdfde;
}
.bej {
    color: #ecb390;
}
.darkbrown {
   color: #61481c;
}
.dbrown {
    color: #1c0a00;
}
.darkgray {
    color: #a2b5bb;
}
.darkred {
    color: #990000;
}
.lightyellow {
    color: #fff200b9;
}
.bred {
  color: #c21010 ;  
}
.pbrown {
    color: #361500;
}
.bgray {
    color: #413c42;
}
.tgrey {
    color: #151515;
}
.rred {
    color: #990000;
}
.hr {
    color: black;
}